@media (max-width: 900px) {
    .blogs__main--new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }

    .blogs__news--img-container {
        grid-row: 2;
    }

    .blog__news--info-container {
        grid-column: 1;
        grid-row: 3;
    }

    .blogs__posts--container .post__container {
        max-width: 45%;
    }

    .projects__main--container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }

    .profile__main--container .profile__container {
        display: block;
    }
}

@media (max-width: 600px) {
    .blogs__posts--container .post__container {
        max-width: 95%;
    }
}